h1,h2,h3,h4,h5,h6 {
  font-family: 'Corben', Georgia, Times, serif;
}

p,div {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

fieldset {
  width: 50%;
}

#metricsTree {
  border: 1px solid #CFCFCF;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
}

#buttons {
  padding-top: 10px;
  width: 20%;
  height: 20%;
}

#header_img {
  padding-bottom: 15px;
  width: 20%;
  height: 20%;
  margin: 0px 10px 0px 0px;
}

#headerh2 {
  margin: 0px 0px 0px 20px;
}